@{
    ViewData["Title"] = "Covidiot";
    var t = Model;
}


<div id="score" class="d-flex justify-content-center">Score</div>
<div id="time" class="d-flex justify-content-center">Time</div>


<div class="container-fluid d-flex justify-content-center">
    <img id="image" src="" alt="image" width="600" height="400">
    <div class="container2">
        <div id="text" class="d-flex justify-content-center"><p>Text</p></div>
        <div id="buttons" class="btn-grid">
        </div>
        
    </div>
</div>

<br/>

<div id="alertBox" class="alert alert-primary" role="alert">
    Kuchen
</div>


