@{
    ViewData["Title"] = "Covidiot";
}

<div class="container-fluid">
    <div id="score" class="d-flex justify-content-end">Score</div>
    <div id="time" class="d-flex justify-content-end">Time</div>
    <div id="risc" class="d-flex justify-content-end">Risiko</div>
    <div class="d-flex justify-content-center box-shadow">
        <img id="image" src="" alt="image" width="600" height="400">
        <div class="container2">
            <div id="text" class="d-flex justify-content-center">Text</div>
            <div id="buttons" class="btn-grid">
            </div>
            <div id="text" class="d-flex justify-content-center">Gehe nach</div>
        </div>
    </div>
</div>

<br/>

<div id="alertBox" class="alert alert-primary" role="alert">
    Kuchen
</div>


