@model ActiveTimedAction

@{
    ViewData["Title"] = "Covidiot";
    var t = Model;
}


<div id="score" class="d-flex justify-content-center">Score</div>
<div id="time" class="d-flex justify-content-center">Time</div>


<div class="container-fluid d-flex justify-content-center">
    <div class="container2">
        <div id="text" class="d-flex justify-content-center">Text</div>
        <div id="option-buttons" class="btn-grid">
            <button class="btn">Option 1</button>
            <button class="btn">Option 2</button>
            <button class="btn">Option 3</button>
        </div>
        
        <div id="text" class="d-flex justify-content-center">Gehe nach</div>
        
        <div id="direction-buttons" class="btn-grid">
            <button class="btn">Option 1</button>
            <button class="btn">Option 2</button>
            <button class="btn">Option 3</button>
            <button class="btn">Option 3</button>
        </div>
    </div>
</div>